#mynavigationbar {
    padding-right: 0%;
}
#left{
    background-image: url(img\sidebar-bg.png);
    background-color: rgb(44, 44, 44);
    opacity:75%;
    height: 95vh;
}
#right{
    background-color: brown;
}
#boolstats{
    background-color: aqua;
}
#mybtn{
    font-size: 0.6em;
    width: 20%;

}