#mynavigationbar {
    padding-right: 0%;
}

#leftcontainer {
    background-color: rgb(70, 70, 70);
}

#superiorbar {
    background-color: cornflowerblue;

}

#content {
    background-color: brown;
    height: 90vh;
}