#mynavigationbar {
    padding-right: 0%;
}

#left {
    background-image: url(C:\boolean\html-css-bootstrap-dashboard\img\sidebar-bg.png);
    background-color: rgb(44, 44, 44);
    height: 95vh;
}

#right {
    background-color: rgb(15, 95, 12);
    
}

#boolstats {
    background-color: aqua;
}

#mybtn {
    font-size: 0.75em;
    padding: 0%;

}